@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  height: 100%;
  width: 100%;
}

body{
  background: linear-gradient(to bottom, rgb(255, 255, 255) 20%, rgb(180, 180, 180));
  overflow-y: hidden;
}

